{% extends 'layout.html' %}

<!--Icon-->
{% block icon %}
<link rel="icon" href="{{ url_for('static', filename='./img/icons/person-plus-fill.svg') }}">
{% endblock %}

<!--CSS file-->
{% block cssFile %}
<link rel="stylesheet" href="{{ url_for('static', filename='./css/register.css') }}">
{% endblock %}

<!--TITLE-->
{% block title%}Registrarse | Tecno Store{% endblock %}

<!--body-->
{% block body%}
<div class="form-signin w-100 m-auto">
    <form action="/register" method="POST">
        <img class="mb-4" src="{{ url_for('static', filename='./img/logo.png') }}" alt="Logo Tecno Store" width="72"
            height="57">
        <h1 class="h3 mb-3 fw-normal">Registrarse</h1>

        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" name="usuario" placeholder="">
            <label for="floatingInput">Nombre de Usuario</label>
        </div>

        <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" name="correo" placeholder="">
            <label for="floatingInput">Correo Electrónico</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="">
            <label for="floatingPassword">Contraseña</label>
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit">Registrarse</button>
    </form>
</div>

{% endblock %}